name: ecommerce

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./postgres/initdb.d:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app"]
      interval: 5s
      timeout: 3s
      retries: 20
    ports:
      - "5432:5432"
    networks:
      - app-net
    deploy:
      resources:
        limits:
          memory: 512M

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.6
    container_name: keycloak
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      JAVA_OPTS_APPEND: "-Xms256m -Xmx512m"
      # Admin user for Keycloak UI
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin


      # DB
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: app
      KC_DB_PASSWORD: app

      KC_HEALTH_ENABLED: "true"
      KC_METRICS_ENABLED: "true"

      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME: keycloak
      KC_PROXY: "edge"
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./keycloak/import:/opt/keycloak/data/import:ro
    ports:
      - "8080:8080"
      - "9000:9000"
    healthcheck:
      test: [ 'CMD-SHELL', '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { java.net.URI uri = java.net.URI.create(args[0]); System.exit(java.net.HttpURLConnection.HTTP_OK == ((java.net.HttpURLConnection)uri.toURL().openConnection()).getResponseCode() ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://localhost:9000/health/live' ]
      interval: 20s
      timeout: 5s
      retries: 5
    networks:
      - app-net

  user-service:
    build:
      context: ../user-service
      dockerfile: ../user-service/Dockerfile

    container_name: user-service
    depends_on:
      postgres:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    environment:
      JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/users
      SPRING_DATASOURCE_USERNAME: app
      SPRING_DATASOURCE_PASSWORD: app
      SPRING_FLYWAY_ENABLED: "true"

      # --- Resource Server JWT validation ---
      KEYCLOAK_BASE_URL: http://keycloak:8080
      KEYCLOAK_REALM: ecommerce

      # Password grant client (proxy login)
      APP_KEYCLOAK_LOGIN_CLIENT_ID: user-service-login
      APP_KEYCLOAK_LOGIN_CLIENT_SECRET: change-me-login-secret

      # Admin API client (client_credentials)
      APP_KEYCLOAK_ADMIN_CLIENT_ID: user-service
      APP_KEYCLOAK_ADMIN_CLIENT_SECRET: change-me-admin-secret

      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY: INFO
      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB: INFO
    ports:
      - "8081:8081"
      - "5005:5005"
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  pg_data:
